* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    border: 2px solid #ff758c;
    border-radius: 8px;
}

#addBtn {
    padding: 10px;
    background: #ff758c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#addBtn:hover {
    background: #e84393;
}

ul {
    list-style: none;
    margin-top: 15px;
}

li {
    background: #ffe6f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

li.completed {
    text-decoration: line-through;
    background: #c8f7c5;
}

.delete-btn {
    background: #e74c3c;
    border: none;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.clear-btn {
    margin-top: 15px;
    padding: 8px 15px;
    background: #555;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
